<div class='template'>
    <h2>Formulario de Selección Condicional</h2>
    <form id="select-where-form" onsubmit='stopSWform(event)'>
        
        <label for="table.n">Tabla a Consultar</label>
        <select class="form-input" id="table.n" name="table-name" form="select-all-form">
            <option value="main">Main</option>
            <option value="secondary">Secondary</option>
        </select>

        <label for="dni">DNI</label>
        <input class="form-input" type="number" id="dni" name="dni" min="4000000" max="50000000" required>

        <input type="submit" value="Submit">
    </form>
</div> 